In [3]:
import pandas as pd

In [24]:
file_path = 'C:/Users/TEMP.NDOCY.000/Desktop/API_EN.POP.SLUM.UR.ZS_DS2_en_csv_v2_289192.csv'
df = pd.read_csv(file_path, skiprows=4)
missing_values = df.isnull().sum()
print("Missing values")
print(missing_values)

Missing values
Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960              266
                 ...
2020              169
2021              266
2022              266
2023              266
Unnamed: 68       266
Length: 69, dtype: int64

In [28]:
print("Dataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            0 non-null      float64
 5   1961            0 non-null      float64
 6   1962            0 non-null      float64
 7   1963            0 non-null      float64
 8   1964            0 non-null      float64
 9   1965            0 non-null      float64
 10  1966            0 non-null      float64
 11  1967            0 non-null      float64
 12  1968            0 non-null      float64
 13  1969            0 non-null      float64
 14  1970            0 non-null      float64
 15  1971            0 non-null      float64
 16  1972            0 non-null      float64
 17  1973            0 non-null      float64
 18  1974            0 non-null      float64
 19  1975            0 non-null      float64
 20  1976            0 non-null      float64
 21  1977            0 non-null      float64
 22  1978            0 non-null      float64
 23  1979            0 non-null      float64
 24  1980            0 non-null      float64
 25  1981            0 non-null      float64
 26  1982            0 non-null      float64
 27  1983            0 non-null      float64
 28  1984            0 non-null      float64
 29  1985            0 non-null      float64
 30  1986            0 non-null      float64
 31  1987            0 non-null      float64
 32  1988            0 non-null      float64
 33  1989            0 non-null      float64
 34  1990            0 non-null      float64
 35  1991            0 non-null      float64
 36  1992            0 non-null      float64
 37  1993            0 non-null      float64
 38  1994            0 non-null      float64
 39  1995            0 non-null      float64
 40  1996            0 non-null      float64
 41  1997            0 non-null      float64
 42  1998            0 non-null      float64
 43  1999            0 non-null      float64
 44  2000            112 non-null    float64
 45  2001            0 non-null      float64
 46  2002            122 non-null    float64
 47  2003            0 non-null      float64
 48  2004            126 non-null    float64
 49  2005            0 non-null      float64
 50  2006            129 non-null    float64
 51  2007            0 non-null      float64
 52  2008            131 non-null    float64
 53  2009            0 non-null      float64
 54  2010            130 non-null    float64
 55  2011            0 non-null      float64
 56  2012            129 non-null    float64
 57  2013            0 non-null      float64
 58  2014            127 non-null    float64
 59  2015            0 non-null      float64
 60  2016            124 non-null    float64
 61  2017            0 non-null      float64
 62  2018            112 non-null    float64
 63  2019            0 non-null      float64
 64  2020            97 non-null     float64
 65  2021            0 non-null      float64
 66  2022            0 non-null      float64
 67  2023            0 non-null      float64
 68  Unnamed: 68     0 non-null      float64
dtypes: float64(65), object(4)
memory usage: 143.5+ KB
None

In [30]:
print("Brief description for our dataset")
print(df.describe())

Brief description for our dataset
       1960  1961  1962  1963  1964  1965  1966  1967  1968  1969  ...  2015  \
count   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
mean    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
std     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
min     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
25%     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
50%     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
75%     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
max     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN

             2016  2017        2018  2019       2020  2021  2022  2023  \
count  124.000000   0.0  112.000000   0.0  97.000000   0.0   0.0   0.0
mean    36.490535   NaN   36.041763   NaN  36.571812   NaN   NaN   NaN
std     22.042602   NaN   21.318353   NaN  21.006753   NaN   NaN   NaN
min      0.899920   NaN    0.793760   NaN   0.793760   NaN   NaN   NaN
25%     16.158333   NaN   16.157332   NaN  16.500000   NaN   NaN   NaN
50%     38.719820   NaN   39.644385   NaN  39.600000   NaN   NaN   NaN
75%     53.328828   NaN   51.993110   NaN  52.600000   NaN   NaN   NaN
max     94.200000   NaN   82.000000   NaN  82.000000   NaN   NaN   NaN

       Unnamed: 68
count          0.0
mean           NaN
std            NaN
min            NaN
25%            NaN
50%            NaN
75%            NaN
max            NaN

[8 rows x 65 columns]

In [29]:
duplicates = df.duplicated().sum()
print("Number of duplicate entries")
print(duplicates)

Number of duplicate entries
0

In [25]:
columns = df.columns
print("This is columns we have in a dataset")
print(columns)

This is columns we have in a dataset
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', 'Unnamed: 68'],
      dtype='object')

In [26]:
size = df.size
print("This is the size we have in our dataFrame")
print(size)

This is the size we have in our dataFrame
18354

In [23]:
dypes = df.dtypes
print("This is our types of data we have")
print(dypes)

This is our types of data we have
Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2020              float64
2021              float64
2022              float64
2023              float64
Unnamed: 68       float64
Length: 69, dtype: object

In [27]:
shape = df.shape
print("Shape")
print(shape)

Shape
(266, 69)

In [32]:
print("First 5 Rows of the Dataset")
print(df.head())

First 5 Rows of the Dataset
                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                                      Indicator Name     Indicator Code  1960  \
0  Population living in slums (% of urban populat...  EN.POP.SLUM.UR.ZS   NaN
1  Population living in slums (% of urban populat...  EN.POP.SLUM.UR.ZS   NaN
2  Population living in slums (% of urban populat...  EN.POP.SLUM.UR.ZS   NaN
3  Population living in slums (% of urban populat...  EN.POP.SLUM.UR.ZS   NaN
4  Population living in slums (% of urban populat...  EN.POP.SLUM.UR.ZS   NaN

   1961  1962  1963  1964  1965  ...  2015       2016  2017       2018  2019  \
0   NaN   NaN   NaN   NaN   NaN  ...   NaN        NaN   NaN        NaN   NaN
1   NaN   NaN   NaN   NaN   NaN  ...   NaN  55.348711   NaN  54.672940   NaN
2   NaN   NaN   NaN   NaN   NaN  ...   NaN  72.128630   NaN  73.300000   NaN
3   NaN   NaN   NaN   NaN   NaN  ...   NaN  51.120997   NaN  48.698234   NaN
4   NaN   NaN   NaN   NaN   NaN  ...   NaN  56.449530   NaN  62.581050   NaN

        2020  2021  2022  2023  Unnamed: 68
0        NaN   NaN   NaN   NaN          NaN
1  54.386351   NaN   NaN   NaN          NaN
2  73.300000   NaN   NaN   NaN          NaN
3  46.257180   NaN   NaN   NaN          NaN
4  62.600000   NaN   NaN   NaN          NaN

[5 rows x 69 columns]